@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #FFFFFF; 
}


li, a{
    font-family: 'Arial';
    font-size: 18px;
    color: #000000;
    text-decoration: none;
    background-color: #827A7A;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    background-color: #827A7A;
    height: 60px;
}

#logo{
    font-size: 32px;
    font-family: 'Lato';
    cursor: pointer;
    background-color: #827A7A;
    margin-left: -80px;
}

.nav-links{
    list-style: none;
    background-color: #827A7A;
}

.nav-links li{
    display: inline-block;
    padding: 0px 11px;
}


.nav-links li a {
    transition: all 0.2s ease 0s;
}
.nav-links li a:hover {
    color: #424040;
}



.my-skills-page-title{
    font-size: 32px;
    font-family: 'Lato';
    text-align: center;
    margin-top: 60px;
}
.my-skills-page-para{
    font-weight: bold;
    font-size: 32px;
    font-family: 'Lato';
    text-align: center;
    margin-top: 172px;
}